@import "tailwindcss";

@font-face {
    font-family: lora;
    src: url(/Fonts/Lora/static/Lora-SemiBold.ttf);
}
@font-face {
    font-family: mulish;
    src: url(/Fonts/Mulish/static/Mulish-Regular.ttf);
}
@font-face {
    font-family: cormorant;
    src: url(/Fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}
@font-face {
    font-family: Bellefair;
    src: url(/Fonts/Bellefair/Bellefair-Regular.ttf);
}
.lora {
    font-family: lora;
}
.mulish {
    font-family: mulish;
}
.cormorant {
    font-family: cormorant;
}
.bellefair {
    font-family: Bellefair;
}
.active{
    background-color: #d4af379f;
    border-color: #006400;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}