@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'bellefair';
  src: url('/Fonts/Bellefair/Bellefair-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'mulish';
  src: url('/Fonts/Mulish/static/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'lora';
  /* src: url('/Fonts/Lora/static/Lora-Regular.ttf') format('truetype'); */
  src: url('/Fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  src: url('/Fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf') format('truetype');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  background: #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}